#search-area h1, #search-area h2, .navbar-brand {
	font-family: 'Quintessential', cursive;
	font-weight: bold;
}

#search-area h1 {
	font-size: 60px;
}

#search-area h1, #search-area h2 {
	color: white;
	text-shadow: 0px 0px 20px maroon;
}

h2 {
	font-size: 20px;
}

.form-inline input.form-control {
	vertical-align: top;
}

.form-inline .form-group {
	padding-left: 2px;
	padding-right: 2px;
}

input[type="text"].form-control {
 	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%
}

input.form-control {
	width: 100%
}

input[type="submit"].form-control {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	padding-bottom: 30px;
}

#search-area .form-inline {
	margin-left: 12px;
}

#search-area {
	padding-top: 140px;
	background-image: url('/img/parking_meters_vachon.jpg');
	padding-bottom: 140px;
}

.navbar {
	margin-bottom: 0px;
}

.post-parking-date-picker { 
    width: 48.5%;
    padding-left: 15px;
    padding-top: 20px;
    display: inline-block
}