body, html {
	font-family: Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
}

.greeting {
	background-color: #39B1C6;
	color: white;
	padding: 0.5em;
	font-size: 20pt;
	top: 0;
	width: 100%;
	position: absolute;
	margin: 0;
	z-index: 1;
}

div#guestbook_header {
	margin-top: 50px;
	height: 20%;
}

div.left_body {
	bottom: 0;
	height: 80%;
	overflow: auto;
	margin-top: 20px;
}

div.right_body {
	position: absolute;
	margin-left: 0;
	margin-top: 0;
	bottom: 0;
	height: 90%;
	width: 100%;
	overflow: auto;
}

div.left {
	float: left;
	padding: 0.5em;
	margin-left: 15px;
	width: 38%;
	height: 100%;
	position: fixed;
}

div#map-canvas {
	margin-top: 50px;
	height: calc(100% - 50px);
	height: -o-calc(100% - 50px); /* opera */
	height: -webkit-calc(100% - 50px); /* google, safari */
	height: -moz-calc(100% - 50px); /* firefox */
	width: 60%;
	right: 0px;
	bottom: 0px;
	position: absolute;
}